<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
Create User
<p></p>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="name">Name</label>
    <input name="name" type="text" id="name">
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <div style="color: red" th:text="${userNameError}">userNameError</div>
    <br>
    <label for="age">Age</label>
    <input name="age" type="text" id="age">
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    <br>
    <label for="email">Email</label>
    <input name="email" type="text" id="email">
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <br>
    <label for="password">Password</label>
    <input name="password" type="password" id="password">
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    <br>
    <label for="roleUser">is User</label>
    <input th:field="*{roles}" type="checkbox" id="roleUser" th:value="2">
    <label for="roleAdmin">is Admin</label>
    <input th:field="*{roles}" type="checkbox" id="roleAdmin" th:value="1">
    <div style="color: red" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">Roles error</div>
    <br>
    <button type="submit">Create user</button>
</form>
<p></p>



<p></p>
<a href="/logout">Logout</a>
</body>
</html>