<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<p><a href="admin/new">Add new user</a></p>
<table id="123" style="border: solid">

    <tr>
        <td>Name</td>
        <td>Age</td>
        <td>Email</td>
        <td>Pass</td>
        <td>Update</td>
        <td>Remove</td>
    </tr>

    <tr th:each="user : ${users}">
        <td th:utext="${user.getName()}">name</td>
        <td th:utext="${user.getAge()}">age</td>
        <td th:utext="${user.getEmail()}">email</td>
        <td th:utext="${user.getPassword()}">password</td>
        <td>
            <form method="get" th:action="@{/admin/{id}/edit(id=${user.getId()})}">
                <button type="submit">Edit</button>
            </form>
        </td>
        <td>
            <form th:method="delete" th:action="@{/admin/{id}(id=${user.getId()})}">
            <button type="submit">Delete</button>
            </form>
        </td>


    </tr>
</table>
<p></p>
<p></p>
<p></p>
<p></p>
<a href="/logout">Logout</a>
</body>
</html>